/* src/app/app.component.css */

@import url('../styles.css'); 

.container {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #3cba92;
}

nav {
    color: #3cba92;
    background-color: white;
}

.display-middle{
    position: absolute;
    top:20%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}