/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0;
}

h1, h2, h3, h4 {
    color: #3cba92;
}

img {
    width: 100%;
}

button {
    color: white;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

input, button {
    border: none;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .15);
}

input:focus, button:focus {
    box-shadow: 0 .3rem .75rem rgba(0, 0, 0, .3);
}

em {
    text-align: center;
    padding: .5em;
}